<!-- Client Table -->
<div class="mt-4 mx-4">
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto mb-4">
            <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm" />
        </div> -->
            <div class="relative w-full mb-10">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input [(ngModel)]="filterTerm" type="text" id="simple-search"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search" required>
            </div>

            <table class="w-full" *ngIf="userList.length !== 0">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Tên khách hàng</th>
                        <th class="px-4 py-3">Tên tài khoản</th>
                        <th class="px-4 py-3">Email</th>
                        <th class="px-4 py-3">Giới tính</th>
                        <th class="px-4 py-3">Ngày sinh</th>
                        <th class="px-4 py-3">Số điện thoại</th>
                        <th class="px-4 py-3">Lớp sinh hoạt</th>
                        <th class="px-4 py-3">Khoa</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400"
                        *ngFor="let user of userList | filter: filterTerm | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
                        <td class="px-4 py-3 text-sm">{{user.name}}</td>
                        <td class="px-4 py-3 text-sm">{{user.username}}</td>
                        <td class="px-4 py-3 text-sm">{{user.email}}</td>
                        <td class="px-4 py-3 text-sm">{{user.gender}}</td>
                        <td class="px-4 py-3 text-sm">{{user.birthday}}</td>
                        <td class="px-4 py-3 text-sm">{{user.phoneNumber}}</td>
                        <td class="px-4 py-3 text-sm">{{user.class}}</td>
                        <td class="px-4 py-3 text-sm">{{user.falcultyName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
    </div>
</div>
<!-- ./Client Table -->
